<title><%= siteTitle %> - <%= pageTitle %></title>
<meta charset="utf-8">
<meta name="viewport" contet="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel"stylesheet" href="/styles/style.css" type="text/css">