<footer id="footer">
    <nav class="navbar bg-light fixed-bottom">
        <a class="navbar-brand" href="/">LTHW - NodeJS</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/about">About</a>
        </div>
    </nav>
</footer>