<div class="jumbotron">
    <h1>
        Learn the Hard Way
    </h1>
    <ul>
        <li><a href="https://nodejs.org" target="_blank">Node.js®</a></li>
        <li><a href="https://expressjs.com" target="_blank">Express</a></li>
        <li><a href="https://www.embeddedjs.com" target="_blank">EJS</a></li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a></li>
    </ul>

</div>