<div class="jumbotron">
    <h1>
        "When you lose touch with inner stillness, you lose touch with yourself. When you lose touch with yourself, you lose yourself in the world."
    </h1>
    <p class="author">&#8212; Eckhart Tolle</p>
</div>