<div class="jumbotron">
    <h1>
        "When you lose touch with inner stillness, you lose touch with yourself. When you lose touch with yourself, you lose yourself
        in the world."
    </h1>
    <div id="author-section" class="row">
        <div class="col-4">
            <img class="img-fluid author-img" src="/images/authors/Eckhart_Tolle.png">
        </div>
        <div class="col-8">
            <a href="https://www.eckharttolle.com/" target="_blank" class="author-name">Eckhart Tolle</a>
            <span class="author-title">— Spiritual Teacher</span>
            <p>Books:</p>
            <ul id="book-list">
                <li>The Power of Now</li>
                <li>Stillness Speaks</li>
                <li>The New Earth</li>
            </ul>
        </div>
    </div>
</div>