html {font-size: 16px;}
body {
    background-color: #007bff;
}
#container {height: 100vh;}
.author {font-weight: 500;font-style: italic;}
.center-v-h {margin-top: auto !important; margin-bottom: auto !important;}