<!DOCTYPE html>
<html>
    <head>
        <% include partials/templates/head.ejs %>
    </head>
    <body id="<%= pageId %>">
        <% include partials/templates/header.ejs %>


        <% include partials/templates/footer.ejs %>
        <% include partials/templates/bootstrap.ejs %>
    </body>
</html>